$background: #333;
$link: pink;

.navbar {
  background-color: $background;
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 150px;
  }
}

.link {
  margin: 10px 0 10px 20px;
  text-transform: uppercase;
  font-weight: 500;

  button {
    color: $link;
    text-transform: uppercase;
    font-weight: 500;
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    border: none;
    text-decoration: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  a {
    color: $link;
    text-decoration: none;
  }

  a:hover, button:hover {
    cursor: pointer;
    color: lighten($link, 50%);
  }
}
